*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #212837;

}
.heading{
    font-size: 5rem;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#B8C6DC;
    margin: 1rem;

}

.container{
    width:40vw ;
    height: 40vh;
    border-radius: 5px;
    margin: 4rem auto ;


}
.counter{
    margin: 3rem;
   font-size: 5rem;
   padding: 5px;
   color: #B8C6DC;
   

}
.button{
    padding: 15px 25px;
    background-color: rgb(16, 238, 238);
    border: 1px solid grey;
    border-radius: 4px;
    cursor: pointer;
font-weight: 900;
font-size: 1rem;
}
.indec{
    font-size: 2rem;
    color: #B8C6DC;
    margin: 15px;
}
#input{
    width: 120px;
    height: 40px;
    text-align: left;
    color: #B8C6DC;
    font-size: 1.5rem;
}
@media (max-width:500px){
    .heading{
        font-size: 2.5rem;
        font-weight: 500;
      }
    .container{
        min-width:100vw ;
        margin: 0.5rem auto ;
    }
    .counter{
        margin-top: 3rem;
    }
   
    .indec{
        margin: 1.5rem;
        line-height: 4.5rem;
    }
    
}